[submodule "contrib/matio"]
	path = contrib/matio
	url = git://github.com/openmeeg/matio-openmeeg.git
[submodule "contrib/clapack"]
	path = contrib/clapack
	url = git://github.com/openmeeg/clapack.git
[submodule "examples"]
	path = examples
	url = git://github.com/openmeeg/openmeeg_sample_data.git
