*~
*.autosave
build/*
build_nopython/*
build.ninja
.*.swo
.*.swp
*.user
.DS_Store
__pycache__
vcpkg/
b/
vcpkg_installed/
openblas/
install/
*.orig
coverage.info
.vscode/
Testing/
.ccache/
installers/
wheelhouse/
/Dependencies/
*.zip
/matio-*
