Alexandre Gramfort <alexandre.gramfort@m4x.org> Alexandre Gramfort <alexandre.gramfort@inria.fr>
Alexandre Gramfort <alexandre.gramfort@m4x.org> Alexandre Gramfort <agramfor@aran.(none)>
Theodore Papadopoulo <theodore.papadopoulo@inria.fr> Theodore Papadopoulo <Theodore.Papadopoulo@inria.fr>
Theodore Papadopoulo <theodore.papadopoulo@inria.fr> Theo Papadopoulo <Theodore.Papadopoulo@inria.fr>
Emmanuel Olivi <emmanuel.olivi@inria.fr> Emmanuel Olivi <emmanuel.olivi@gmail.com>
Emmanuel Olivi <emmanuel.olivi@inria.fr> Emmanuel Olivi <Emmanuel.Olivi@inria.fr>
Emmanuel Olivi <emmanuel.olivi@inria.fr> Emmanuel Olivi <Emmanuel.olivi@inria.fr>
Emmanuel Olivi <emmanuel.olivi@inria.fr> eolivi <emmanuel.olivi@inria.fr>
Emmanuel Olivi <emmanuel.olivi@inria.fr> eolivi <eolivi@users.noreply.github.com>
Emmanuel Olivi <emmanuel.olivi@inria.fr> eolivi <emmanuel.olivi@opmbx.org>
Emmanuel Olivi <emmanuel.olivi@inria.fr> Emmanuel Olivi <emmanuel.olivi@opmbx.org>
Emmanuel Olivi <emmanuel.olivi@inria.fr> manolivi <mancomp>
Maureen Clerc <maureen.clerc@inria.fr>
Perrine Landreau <perrine.landreau@gmail.com>
Renaud Keriven <keriven@certis.enpc.fr>
Yaroslav Halchenko <debian@onerussian.com>
Daniel Miklody <Daniel.Miklody@gmx.de> DanielMiklody <Daniel.Miklody@gmx.de>
Kyle Beauchamp <kyleabeauchamp@gmail.com>
Thierry Guillemot <thierry.guillemot.work@gmail.com>
Dang Kai <dangkai.dk@gmail.com> Kai Dang <dangkai.dk@gmail.com>
Marmaduke Woodman <mmwoodman@gmail.com>
Boris Burle <boris.burle@univ-amu.fr> Boris BURLE <boris.burle@univ-amu.fr>
lazyparser <lazyparser@gmail.com>
Sylvain Vallaghe <sylvain.vallaghe@gmail.com>
