repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff
        name: ruff lint
        args: ["--fix", "--config=wrapping/python/pyproject.toml"]
      - id: ruff-format
        name: ruff format
        args: ["--config=wrapping/python/pyproject.toml"]
